bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
node_modules/
dist/
/src/Means/wwwroot/*
!/src/Means/wwwroot/index.html
/.vs
/src/Means/Means.csproj.user
/publish/wwwroot
/src/Means/Properties/PublishProfiles
/src/Means/dotnet-tools.json
/SDKs/csharp/Means.Client.csproj.user
/.spec-workflow
